<div
  style="
    position: absolute;
    z-index: 0;
    background-color: rgb(126, 62, 221);
    content: '';
    width: 100vw;
    height: 100vh;
  "
></div>
<div style="display: flex">
  <div
    class="card"
    style="
      margin-top: 10rem;
      margin-left: auto;
      margin-right: auto;
      min-height: 10rem;
      min-width: 10rem;
      width: 25%;
      height: 20rem;
      background-color: rgb(94, 50, 160);
    "
  >
    <div class="card-body" style="display: flex; padding-left: 3px">
      <div style="margin-left: auto; margin-right: auto">
        <div style="display: flex">
          <h1 style="margin-left: auto; margin-right: auto; color: white">
            Login
          </h1>
        </div>
        <form name="form" (ngSubmit)="(f.form.valid)" #f="ngForm" novalidate>
          <div style="margin-left: auto; margin-top: 0, 5em">
            <label style="color: white" for="input" class="col-form-label ml-2"
              >Username</label
            >
          </div>
          <div style="content: ' '; margin-left: 1rem"></div>
          <div style="margin-right: auto">
            <input
              [formControl]="username"
              style="
                margin-left: auto;
                margin-right: auto;
                color: rgb(126, 62, 221);
                font-weight: bold;
              "
              required
              type="text"
              id="input"
              class="form-control"
              aria-describedby="passwordHelpInline"
            />
          </div>

          <div style="margin-top: 1em">
            <div style="margin-left: auto">
              <label
                style="color: white"
                for="inputPassword6"
                class="col-form-label ml-2"
                >Password</label
              >
            </div>
            <div style="content: ' '; margin-left: 1rem"></div>
            <div style="margin-right: auto">
              <input
                [formControl]="password"
                style="
                  margin-left: auto;
                  margin-right: auto;
                  color: rgb(126, 62, 221);
                  font-weight: bold;
                "
                required
                type="password"
                id="inputPassword6"
                class="form-control"
                aria-describedby="passwordHelpInline"
              />
            </div>
          </div>
          <div style="display: flex">
            <div style="margin-top: 1em; margin-left: auto; margin-right: auto">
              <div style="display: flex">
                <button
                  type="button"
                  class="btn btn-outline-light"
                  (click)="onSubmit()"
                >
                  Login
                </button>
                <div style="content: ' '; margin-left: 1rem"></div>
                <h6
                  (click)="open()"
                  style="cursor: pointer"
                  class="pt-2 text-light"
                >
                  Register now!
                </h6>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div
      class="alert"
      role="alert"
      style="margin-top: 2em; background-color: red"
      *ngIf="invalid"
    >
      <h5 style="color: white">Invalid Credentials</h5>
    </div>
  </div>
</div>
