<div class="modal-header">
  <h4 class="modal-title">Register</h4>
</div>
<div class="modal-body">
  <form name="form" (ngSubmit)="(f.form.valid)" #f="ngForm">
    <div style="margin-left: auto; margin-top: 0, 5em">
      <label for="input" class="col-form-label ml-2"> Username </label>
    </div>
    <div style="content: ' '; margin-left: 1rem"></div>
    <div style="margin-right: auto">
      <input
        [formControl]="username"
        minlength="4"
        style="margin-left: auto; margin-right: auto; font-weight: bold"
        required
        type="text"
        id="input"
        class="form-control"
        aria-describedby="passwordHelpInline"
      />
    </div>

    <div style="margin-top: 1em">
      <div style="margin-left: auto">
        <label for="inputPassword6" class="col-form-label ml-2">
          Password
        </label>
      </div>
      <div style="content: ' '; margin-left: 1rem"></div>
      <div style="margin-right: auto">
        <input
          [formControl]="password"
          style="
            margin-left: auto;
            margin-right: auto;

            font-weight: bold;
          "
          minlength="4"
          required
          type="password"
          id="inputPassword6"
          class="form-control"
          aria-describedby="passwordHelpInline"
        />
      </div>
    </div>

    <div style="display: flex">
      <div style="margin-top: 1em; margin-left: auto; margin-right: auto">
        <div style="display: flex">
          <div style="content: ' '; margin-left: 1rem"></div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="">
  <div style="display: flex; margin-bottom: 2em">
    <button
      style="margin-right: auto; margin-left: 2em; height: 3em"
      type="button"
      class="btn btn-outline-danger"
      (click)="activeModal.close('Close click')"
    >
      Close
    </button>
    <button
      (click)="add()"
      style="margin-right: 2em; width: 6em; height: 3em"
      type="button"
      class="btn btn-outline-success"
    >
      Register
    </button>
  </div>
  <div
    class="alert"
    role="alert"
    style="
      margin-top: 2em;
      margin-left: 1em;
      margin-right: 1em;
      background-color: red;
    "
    *ngIf="invalid"
  >
    <h5 style="color: white">Invalid Credentials</h5>
  </div>
</div>
